/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(252, 27, 27);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(235, 10, 10);
}

html, body {
    padding: 0;
    margin: 0;
    color: rgb(235, 235, 235);
    font-family: Verdana, sans-serif;
}

h1, h2, h3, p {
    padding: 0;
    margin: 0;
    display: inline-block;
}

h1 {
    width: 100%;
    text-align: center;
    font-size: 5em;
    text-shadow: 3px 3px 0px rgb(172, 172, 172);
}

h2 {
    text-decoration: underline;
    display: flex;
    justify-content: center;
    margin-bottom: 2vh;
}

/* Services */
.darkBg>a {
    text-decoration: none;
    margin: 1vh;
    color: rgb(235, 235, 235);
    border: 2px solid rgb(172, 172, 172);
    margin-left: 1vw;
    float: right;
}

ul {
    padding: 0;
    margin: 0;
    margin-left: 20px;
}

.darkBg {
    background-color: rgb(49, 47, 47);
    height: 100vh;
}

#services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#services>article {
    padding: 1vw;
    margin: 1vw;
    background-color: rgb(37, 37, 37);
    border: 1px solid rgb(158, 158, 158);
    border-radius: 1vw;
}

#services>article>div {
    display: flex;
    justify-content: space-between;
}

.divSofts, .divEmployees {
    padding: 1vw;
    margin: 1vw;
    border: 2px rgb(231, 231, 231);
    border-style: inset;
    height: 20vh;
    overflow: auto;
}

.divSofts>div, .divEmployees>div {
    display: flex;
    align-items: baseline;
    margin-bottom: 2vw;
}

.divSofts>div>h3, .divEmployees>div>h3 {
    margin-right: 1.5vw;
}

.divSofts>div>p, .divEmployees>div>p {
    font-size: 1.5vw;
    color: rgb(13, 224, 108);
}

/* Dashboard */

.lightBg {
    background-color: rgb(71, 70, 70);
    height: 100vh;
}

#dashboard {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

#dashboard>article {
    padding: 1vw;
    margin: 1vw;
    background-color: rgb(37, 37, 37);
    border: 1px solid rgb(158, 158, 158);
    border-radius: 1vw;
}

article>table {
    background-color: rgb(48, 47, 47);
    padding: 3vh;
}

table, th, td {
    border: 1px solid rgb(255, 255, 255);
    border-collapse: collapse;
    padding: 1vh;
}