html {
    padding: 3vw;
    margin: 0;
    background-color: rgb(49, 47, 47);
    color: rgb(235, 235, 235);
    font-family: Verdana, sans-serif;
}

h2, p {
    padding: 0;
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
    margin-left: 20px;
}

#services {
    display: flex;
    flex-wrap: wrap;
    margin: 1vw;
    padding: 1vw;
    border: 1px solid rgb(116, 114, 114);
}

#services>article {
    display: flex;
    flex-direction: column;
    background-color: rgb(37, 37, 37);
    padding: 1vw;
    margin: 1vw;
    border: 1px solid rgb(197, 197, 197);
}

#services>article>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5vh;
}